<!DOCTYPE html>
<html>
  <head>
    <title>Flask Upload Example</title>
  </head>
  <body>
    <h1>Upload your photo & clothes</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="file1">Choose Photo:</label>
        <input type="file" id="file1" name="photo">
        <br>
        {% for filename in clothes_filenames %}
        <img src="{{ url_for('static', filename='clothes/' + filename) }}" width="100" height="100">
        <input type="radio" name="clothes_choice" value="{{ filename }}"><br>
        {% endfor %}
        <br>
        <input type="submit" value="Upload">
    </form>

  </body>
</html>